* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: white;
    color: black;
}

.menu {
    
    top: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
   
    
    
    
   
}





section {
    padding: 40px 20px;
    border-bottom: 1px solid white;
}


h2 {
    margin-bottom: 20px;
    color: blue;
}

.nota {
    background-color: rgb(221, 221, 221);
    padding: 15px;

    margin-bottom: 20px;
    font-size: 21px;
}

.box {
    padding: 10px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    display: flex;

}

.inline {
    display: inline;
    padding: 10px;
}

.inline-block {
    display: inline-block;
    width: 120px;
}

.flex {
    display: flex;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.relative {
    position: relative;
    background: white;
    padding: 60px;
    border-radius: 10px;
    margin-top: 20px;
}

.absolute {
    position: absolute;
    top: 10px;
    right: 10px;
    background: blue;
    padding: 10px;
    border-radius: 5px;
}


